/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --cor-base: 215;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --cor-primaria: hsl(var(--cor-base), 69%, 61%);
  --cor-primaria-segunda: hsl(var(--cor-base), 69%, 61%);
  --cor-primaria-alt: hsl(var(--cor-base), 57%, 53%);
  --cor-primaria-claro: hsl(var(--cor-base), 92%, 85%);
  --cor-titulo: hsl(var(--cor-base), 8%, 15%);
  --cor-titulo-blog-claro: hsl(var(--cor-base), 8%, 95%);
  --cor-titulo-blog-escuro: hsl(var(--cor-base), 8%, 15%);
  --cor-texto: hsl(var(--cor-base), 8%, 45%);
  --cor-texto-claro: hsl(var(--cor-base), 8%, 65%);
  --cor-input: hsl(var(--cor-base), 70%, 96%);
  --cor-body: hsl(var(--cor-base), 60%, 99%);
  --cor-container: #fff;
  --cor-scroll-bar: hsl(var(--cor-base), 12%, 90%);
  --cor-scroll-thumb: hsl(var(--cor-base), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-fonte: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fonte-tamanho-grande: 2rem;
  --fonte-tamanho-h1: 1.5rem;
  --fonte-tamanho-h2: 1.25rem;
  --fonte-tamanho-h3: 1.125rem;
  --fonte-tamanho-normal: .938rem;
  --fonte-tamanho-pequeno: .813rem;
  --fonte-tamanho-pequenino: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-50: .5rem;
  --mb-0-75: .75rem;
  --mb-1-00: 1rem;
  --mb-1-50: 1.5rem;
  --mb-2-00: 2rem;
  --mb-2-50: 2.5rem;
  --mb-3-00: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* Font size for large devices */



/*========== Variables Dark theme ==========*/
body.dark-theme {
  /* HSL color mode */
  --cor-primaria-segunda: hsl(var(--cor-base), 30%, 8%);
  --cor-titulo: hsl(var(--cor-base), 8%, 95%);
  --cor-texto: hsl(var(--cor-base), 8%, 75%);
  --cor-input: hsl(var(--cor-base), 29%, 16%);
  --cor-body: hsl(var(--cor-base), 28%, 12%);
  --cor-container: hsl(var(--cor-base), 29%, 16%);
  --cor-scroll-bar: hsl(var(--cor-base), 12%, 48%);
  --cor-scroll-thumb: hsl(var(--cor-base), 12%, 36%);
}


/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--cor-titulo);
  margin-right: var(--mb-1-00);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--cor-primaria);
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-fonte);
  font-size: var(--fonte-tamanho-normal);
  background-color: var(--cor-body);
  color: var(--cor-texto);
}

h1,
h2,
h3,
h4 {
  color: var(--cor-titulo);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__blog {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--fonte-tamanho-h1);
  color: var(--cor-titulo);
}

.section__title-blog {
  font-size: var(--fonte-tamanho-h1);
  text-align: center;
  background: linear-gradient(140deg, #321862, #1B1658, #0A1451);
  padding: 45px;
  margin: 0 0 2rem 0;
  border-radius: 2.5rem;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom: none;
}

.section__title-blog-claro {
  color: var(--cor-titulo-blog-claro);
}

.section__title-blog-escuro {
  color: var(--cor-titulo-blog-escuro);
}

.section__title2 {
  font-size: var(--fonte-tamanho-h3);
  color: var(--cor-titulo);
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: var(--fonte-tamanho-pequeno);
  margin-bottom: var(--mb-3-00);
}

.blog__subtitle {
  display: block;
  font-style: italic;
  font-size: var(--fonte-tamanho-pequenino);
  margin-bottom: var(--mb-3-00);
}

.section__title,
.section__subtitle,
.blog__subtitle {
  text-align: center;
}

.section__desenvolvido,
.section__desenvolvido__button,
.section__desenvolvido__resumo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.section__desenvolvido {
  font-size: var(--fonte-tamanho-pequenino);
  margin-top: var(--mb-0-50);
  font-style: italic;
}

.section__desenvolvido__button {
  font-size: var(--fonte-tamanho-pequenino);
  font-style: italic;
}

.section__desenvolvido__resumo {
  font-size: var(--fonte-tamanho-pequenino);
  margin-top: var(--mb-1-50);
  font-style: italic;
}


/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-50);
  margin-right: var(--mb-1-50);
}

.blog__container {
  max-width: 958px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-bottom: none;
}

.blog__container-text {
  text-align: justify;
  text-indent: 2em;
  padding: 10px 50px 75px;
}

.blog__container-text span {

  font-weight: var(--font-semi-bold);
}

.painel__container {
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin-left: var(--mb-1-50);
  margin-right: var(--mb-1-50);
}

.x-box-qualificação {
  max-width: 1068px;
  margin-left: var(--mb-1-50);
  margin-right: var(--mb-1-50);
}


.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--cor-body);
}


/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav__toggle {
  color: var(--cor-titulo);
  font-weight: var(--font-medium);
}

.nav_logo span {
  color: var(--cor-primaria);
}

.nav_logo:hover {
  color: var(--cor-primaria);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_logo:hover {
  color: var(--cor-primaria);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--cor-body);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-titulo);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--cor-primaria);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__icon_port {
  font-size: 1.2rem;
  color: #E31E3C;
}

.nav__item span {
  color: #E31E3C;
}

.nav__close {
  position: absolute;
  right: .9rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--cor-primaria);
}

.nav__close:hover {
  color: var(--cor-primaria);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--cor-primaria);
}


/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .25);
}


/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .75fr 3fr;
  padding-top: 3.5rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  align-items: flex-start;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;

  color: var(--cor-primaria);
}

.home__social-icon:hover {
  color: var(--cor-primaria-alt);
}

.home__social-svg {
  width: auto;
  height: 24px;
  fill: var(--cor-primaria);
  stroke: var(--cor-primaria);

}

.home__social-svg:hover {
  font-size: 1rem;
  fill: var(--cor-primaria-alt);
}

.home__blob {
  width: 200px;
  fill: var(--cor-primaria);
}

.home_blob-img {
  width: 220px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--fonte-tamanho-grande);
  line-height: 2.25rem;
  padding-top: 10px;
  min-height: 0;
  margin-bottom: -5px;
}

.home__title::after {
  content: '|';
  margin-left: 0.1rem;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.home__subtitle {
  font-size: var(--fonte-tamanho-h3);
  color: var(--cor-texto);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  padding-top: 15px;
}

.home__scroll-button {
  color: var(--cor-primaria);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(.25rem);
}

.blog-button {
  color: var(--cor-primaria);
  text-indent: 0;
  transition: .35s;
}

.blog-button:hover {
  transform: translateY(-0.25rem);
}

.blog-button-title {
  color: var(--cor-titulo-blog);
  text-indent: 0;
  transition: .45s;
}

.blog-button-title:hover {
  transform: translateY(-0.15rem);
}

.blog-button-link {
  color: var(--cor-titulo-blog);
  text-decoration: underline;
  line-height: 3.25rem;
  text-indent: 0;
  transition: .25s;
}

.blog-button-link:hover {
  color: var(--cor-primaria);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-titulo);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}


/*==================== BUTTONS ====================*/
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  display: inline-block;
  background-color: var(--cor-primaria);
  color: #fff;
  padding: .6rem 1.35rem;
  border-radius: 2.25rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--cor-primaria-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-50);
  transition: .3s;
}

.button--white {
  background-color: #fff;
  color: var(--cor-primaria);
}

.button--white:hover {
  background-color: #fff;

}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.burron--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--cor-primaria);
}

.button--link:hover {
  background-color: transparent;
  color: var(--cor-primaria-alt);
}

/*==================== Painel ====================*/
.painel {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.painel__bi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.painel__texto {
  margin: 0 10% 0 10%;
}

.painel__description {

  align-items: center;
  text-align: center;
  width: 360px;
  margin-bottom: var(--mb-2-50);
}

.painel__description span {
  color: #E31E3C;
}

.painel__info_box {
  margin: 0 15px;
}

.painel__info {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2-50);
}

.painel__info-title {
  font-size: var(--fonte-tamanho-h2);
  font-weight: var(--font-semi-bold);
  color: var(--cor-titulo);
}

.painel__info_name {
  font-size: var(--fonte-tamanho-pequenino);
}

.painel__info-title,
.painel__info-name {
  margin: 0 8px;
  display: block;
  text-align: center;
}

.painel__buttons {
  display: flex;
  justify-content: center;
}

/*==================== sobre ====================*/
.sobre__data {
  text-align: center;
}

.sobre__img {
  width: 200px;
  border-radius: 1.5rem;
  justify-self: center;
  align-self: center;
}

.sobre__description {
  text-align: center;
  width: 380px;
  margin-bottom: var(--mb-1-50);
}


.sobre__description_3 {
  color: #E31E3C;
}

.sobre__description_frase {
  text-align: center;
  width: 400px;
  margin-bottom: var(--mb-1-00);
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: var(--font-medium);
}

.sobre__info_box {
  margin: 0 15px;
}

.sobre__info {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2-50);
}

.sobre__info-title {
  font-size: var(--fonte-tamanho-h2);
  font-weight: var(--font-semi-bold);
  color: var(--cor-titulo);
}

.sobre__info_name {
  font-size: var(--fonte-tamanho-pequenino);
}

.sobre__info-title,
.sobre__info-name {
  margin: 0 8px;
  display: block;
  text-align: center;
}

.sobre__buttons {
  display: flex;
  justify-content: center;
}


/*==================== habilidade ====================*/
.habilidade__container {
  row-gap: 0;
}

.habilidade__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-1-50);
  margin-top: var(--mb-1-50);
  cursor: pointer;
}

.habilidade__icon,
.habilidade__arrow {
  font-size: 2rem;
  color: var(--cor-primaria)
}

.habilidade__icon {
  margin-right: var(--mb-0-75);
}

.habilidade__title {
  font-size: var(--fonte-tamanho-h3);
}

.habilidade__subtitle {
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-texto-claro);
}

.habilidade__arrow {
  margin-left: auto;
  transition: .4s;
}

.habilidade__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
  padding-right: 1rem;
}

.habilidade__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-50);
}

.habilidade__name {
  font-size: var(--fonte-tamanho-pequeno);
  font-weight: var(--font-medium);
  padding-right: 5px;
}

.habilidade__number {
  font-size: var(--fonte-tamanho-pequenino);
}

.habilidade__bar,
.habilidade__percentage {
  height: 5px;
  border-radius: .25rem;
}

.habilidade__bar {
  background-color: var(--cor-primaria-claro);
}

.habilidade__percentage {
  display: block;
  background-color: var(--cor-primaria);
}

.habilidade__precificação {
  width: 80%;
}

.habilidade__reajuste {
  width: 80%;
}

.habilidade__processos {
  width: 75%;
}

.habilidade__lgpd {
  width: 85%;
}


.habilidade__excel {
  width: 90%;
}

.habilidade__vba {
  width: 85%;
}

.habilidade__bi {
  width: 80%;
}

.habilidade__sql {
  width: 80%;
}

.habilidade__r {
  width: 45%;
}

.habilidade__python {
  width: 45%;
}

.habilidade__htmlcss {
  width: 35%;
}

.habilidade__javascript {
  width: 15%;
}

.habilidade__photoshop {
  width: 85%;
}

.habilidade__close .habilidade__list {
  height: 0;
  overflow: hidden;
}

.habilidade__open .habilidade_list {
  height: max-content;
  margin-bottom: var(--mb-2-50);
}

.habilidade__open .habilidade__arrow {
  transform: rotate(-180deg);
}


/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-00);
}

.qualification__button {
  font-size: var(--fonte-tamanho-h3);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--cor-primaria);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1rem;
}

.qualification__title {
  font-size: var(--fonte-tamanho-normal);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--fonte-tamanho-pequeno);
  margin-bottom: var(--mb-1-00);
}

.qualification__calendar {
  margin-top: -.75rem;
  font-size: var(--fonte-tamanho-pequenino);
  color: var(--cor-texto-claro);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--cor-primaria);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--cor-primaria);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--cor-primaria);
}


/*==================== SERVICES ====================*/
.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--cor-container);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services__icon {
  display: block;
  font-size: 1.5rem;
  margin-bottom: var(--mb-1-00);
}

.services__title {
  font-size: var(--fonte-tamanho-h3);
  margin-bottom: var(--mb-1-00);
  font-weight: var(--font-medium);
}

.services__button {
  cursor: pointer;
  font-size: var(--fonte-tamanho-pequeno);
}

.services__button:hover .button__icon {
  transform: translateX(.25rem);
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  pad: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content {
  position: relative;
  background-color: var(--cor-container);
  padding: 1.5rem;
  border-radius: .5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: var(--fonte-tamanho-h3);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-50);
}


.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--cor-primaria);
  cursor: pointer;
}

.services__modal-icon {
  color: var(--cor-primaria);
  margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}


/*==================== PORTFOLIO ====================*/
.portfolio__container {
  display: block;
  flex-direction: column;
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 320px;
  border-radius: .5rem;
  justify-self: center;
}

.blog__img {
  display: block;
  max-width: 958px;
  margin: -1.86rem 0 2.75rem -4.74rem;
  border-radius: 2.5rem;
}

.portfolio__title {
  font-size: var(--fonte-tamanho-h3);
  margin-bottom: var(--mb-0-50);
}

.portfolio__description {
  font-size: .9rem;
  margin-bottom: var(--mb-0-75);
  font-style: italic;
}

.portfolio__button:hover .button__icon {
  transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--cor-primaria);
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--cor-primaria);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/*==================== TESTIMONIAL ====================*/
.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--mb-1-00);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial__name {
  font-size: var(--fonte-tamanho-h3);
  font-weight: var(--font-medium);
}

.testimonial__client {
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-texto-claro);
}

.testimonial__description {
  margin-bottom: var(--mb-2-50);
}

.testimonial__icon-star {
  color: var(--cor-primaria);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}


/*==================== contato ME ====================*/
.contato__container {
  row-gap: 3rem;
}

.contato__information {
  display: flex;
  margin-bottom: var(--mb-2-00);
}

.contato__icon {
  font-size: 2rem;
  color: var(--cor-primaria);
  margin-right: var(--mb-0-75);
}

.contato__title {
  margin-bottom: -0.35rem;
}

.contato__titles {
  font-size: var(--fonte-tamanho-h3);
  font-weight: var(--font-medium);
}

.contato__subtitle {
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-texto-claro);
}

.contato__subtitle__link {
  font-size: var(--fonte-tamanho-pequeno);
  color: var(--cor-primaria);
}

.contato__subtitle__link:hover {
  color: var(--cor-primaria-alt);
}

.contato__content {
  background-color: var(--cor-input);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contato__label {
  font-size: var(--fonte-tamanho-pequenino);
  color: var(--cor-titulo);
}

.contato__input {
  width: 100%;
  resize: vertical;
  background-color: var(--cor-input);
  color: var(--cor-texto);
  font-family: var(--body-fonte);
  font-size: var(--fonte-tamanho-normal);
  border: none;
}

.contato__input__mensagem {
  height: 13rem;
  min-height: 6rem;
  max-height: 20rem;
}

.contato__input__mensagem input,
.contato__input__mensagem textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;


}

.contato__input__mensagem input:hover,
.contato__input__mensagem input:focus,
.contato__input__mensagem textarea:hover,
.contato__input__mensagem textarea:focus {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;

}

/*==================== rodape ====================*/
.rodape {
  padding-top: 1rem;
}

.rodape__container {
  row-gap: 2.0rem;
  margin: 0 20px;
}

.rodape__bg {
  background-color: var(--cor-primaria-segunda);
  padding: 2rem 0;
}

.rodape__principal {
  display: grid;
}

.footer_esquerdo {
  padding: 50px;
}

.rodape__title {
  font-size: var(--fonte-tamanho-h2);
  margin-bottom: -0.54rem;
}

.rodape__title:hover {
  color: var(--cor-titulo);
}

.rodape__title span {
  color: var(--cor-titulo);
}

.rodape__subtitle {
  font-size: var(--fonte-tamanho-pequenino);
}

.rodape__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.rodape__link:hover {
  color: var(--cor-primaria-claro);
}

.rodape__socials {
  display: flex;
  justify-content: center;
  align-items: center;

}

.rodape__social {
  font-size: 1.35rem;
  margin: 0 var(--mb-0-75) 0 var(--mb-0-75);
}

.rodape__social:hover {
  color: var(--cor-primaria-claro);
}

.rodape-frase {
  font-size: var(--fonte-tamanho-pequeno);
  text-align: center;
  color: var(--cor-container);
  margin-top: var(--mb-1-50);
  font-style: italic;
  line-height: 110%;
}

.rodape__copy {
  font-size: var(--fonte-tamanho-pequenino);
  text-align: center;
  color: var(--cor-container);
  margin-top: var(--mb-1-00);
  line-height: 105%;
}

.rodape__title,
.rodape__subtitle,
.rodape__link,
.rodape__social {
  color: #fff;
}


/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  background-color: var(--cor-primaria);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: 35%;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--cor-primaria-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}


/* Show scroll */
.show-scroll {
  bottom: 5rem;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--cor-scroll-bar);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-scroll-thumb);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor-texto-claro);
}

/*========== SCROLL BAR ==========*/
.hide {
  display: none;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 434px) {
  .blog__container h2 {
    font-size: var(--fonte-tamanho-normal);
    font-weight: var(--font-semi-bold);
  }

  .section__title-blog {
    padding: 25px 20px;
    margin: 0 0 2rem 0;
  }

  .painel__container {
    margin-left: auto;
    margin-right: auto;
  }

  .painel__bi {
    width: 320px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-left: var(--mb-1-00);
    margin-right: var(--mb-1-00);
  }

  .blog__container,
  .blog__container-text {
    margin-left: var(--mb-1-00);
    margin-right: var(--mb-1-00);
  }

  .blog__container-text {
    text-align: justify;
    text-indent: 2em;
    padding: 5px 5px 50px;
  }

  .qualification__tabs {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_menu {
    padding: 2rem .25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: .25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }

  .habilidade__title {
    font-size: var(--fonte-tamanho-normal);
  }

  .qualification__data {
    gap: .5rem;
  }

  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services__content {
    padding-right: 3.5rem;
  }

  .services__modal {
    padding: 0 .5rem;
  }


  .testimonial__data,
  .testimonial__header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }

  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }

  .home__title {
    min-height: 0;
  }

  .rodape__links {
    display: flex;
    align-items: center;
  }

  .rodape__principal {
    align-items: center;
  }

  .rodape__subtitle {
    font-size: .68rem;
  }


  .rodape__socials {
    justify-self: center;
    padding: 0;
  }
}

@media screen and (min-width: 435px) {
  .blog__container h2 {
    font-size: var(--fonte-tamanho-h3);
    font-weight: var(--font-semi-bold);
  }

  .painel__container {
    margin-left: auto;
    margin-right: auto;
  }

  .painel__bi {
    width: 435px;
    height: 305px;
    display: flex;
    align-items: center;
  }

  .blog__container-text {
    text-align: justify;
    text-indent: 2em;
    padding: 10px 20px 60px;
  }


  .rodape__links {
    display: flex;
    align-items: center;
  }

  .rodape__principal {
    align-items: center;
  }

  .rodape__subtitle {
    font-size: .68rem;
  }

  .rodape__socials {
    justify-self: center;
  }

  .rodape__social {
    margin: 0 var(--mb-0-75);
  }

}

/* For medium devices */
@media screen and (min-width: 568px) {
  .blog__container h2 {
    font-size: var(--fonte-tamanho-h2);
    font-weight: var(--font-semi-bold);
  }


  .blog__container-text {
    text-align: justify;
    text-indent: 2em;
    padding: 10px 50px 75px;
  }

  .painel__bi {
    width: 568px;
    height: 376px;
    display: flex;
    align-items: center;
  }

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .sobre__container,
  .habilidade__container,
  .portfolio__content,
  .contato__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }

  .home__title {
    min-height: 82px;
  }

  .rodape__container {
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-between;
  }

  .rodape__principal {
    align-content: center;
    align-items: center;
  }

  .rodape__subtitle {
    font-size: .68rem;
  }

  .rodape__links {
    display: flex;
    align-items: center;
  }

  .rodape__link {
    margin: 0 var(--mb-1-50);
  }

  .rodape__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .rodape__social {
    margin: .45rem 0;
  }

}

@media screen and (min-width: 768px) {
  .painel__bi {
    width: 768px;
    height: 495px;
    display: flex;
    align-items: center;
  }

  .section__desenvolvido {
    margin-bottom: 0.5rem;
  }

  .section__blog {
    margin: 2.5rem 0 4rem;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .blog__container,
  .blog__container-text {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }



  .section__subtitle {
    margin-bottom: 4rem;
  }

  .blog__title {

    display: grid;
    align-items: center;
    align-content: center;
    align-self: center;
    box-align: center;
    padding: 5rem 0 4.25rem;
  }

  .blog__subtitle {
    text-align: right;
    margin-bottom: .25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .rodape__socials {
    display: flex;
    flex-direction: row;
    justify-self: center;
  }

  .rodape__social {
    margin: 0 .45rem;
  }

  .header,
  .main,
  .rodape__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__icon_port,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav_menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__title {
    min-height: 114px;
    line-height: 3.25rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .sobre__container {
    column-gap: 5rem;
  }

  .sobre__img {
    width: 900px;
  }

  .sobre__description {
    text-align: initial;
  }

  .qualification__tabs {
    justify-content: center;
  }

  .qualification__button {
    margin: 0 var(--mb-1-00);
  }

  .qualification__sections {
    grid-template-columns: .5fr;
  }

  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }

  .services__icon {
    font-size: 2rem;
  }

  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .services__modal-content {
    width: 450px;
  }

  .portfolio__img {
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }

  .rodape__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .rodape__bg {
    padding: 3rem 0 3.5rem;
  }

  .rodape__subtitle {
    font-size: .7rem;
  }

  .rodape__links {
    flex-direction: row;
  }

  .rodape__socials {
    justify-self: flex-end;
  }

  .rodape__social {
    margin: 0 1.45rem;
  }

  .rodape__copy {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --fonte-tamanho-grande: 3rem;
    --fonte-tamanho-h1: 2.25rem;
    --fonte-tamanho-h2: 1.5rem;
    --fonte-tamanho-h3: 1.25rem;
    --fonte-tamanho-normal: 1rem;
    --fonte-tamanho-pequeno: .875rem;
    --fonte-tamanho-pequenino: .813rem;
  }

  .blog__container {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2.5rem;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom: none;
  }

  .blog__subtitle {
    width: 958px;
    text-align: right;
    margin-bottom: .25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .section__blog {
    display: grid;
    align-items: center;
    align-content: center;
    align-self: center;
    box-align: center;
    padding: 5rem 0 4.25rem;
  }


  .rodape__subtitle {
    font-size: .83rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .painel__bi {
    width: 1024px;
    height: 640px;
    display: flex;
    align-items: center;
  }

  .header,
  .main,
  .rodape__container {
    padding: 0;
  }

  .home__blob {
    width: 320px;
  }

  .home__social {
    transform: translateX(-6rem);
  }

  .services__container {
    grid-template-columns: repeat(3, 238px);
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -4.5rem;
  }

  .contato__form {
    width: 460px;
  }

  .contato__input {
    grid-template-columns: repeat(2, 1fr);
  }

  .rodape__subtitle {
    font-size: .83rem;
  }
}